{% extends "frogs/base.html" %}{% block title %}Shipment - details{% endblock %}{% block content %}
<div class="container">
    <div class="page-header">
        <h2>View Shipment Details</h2></div>
    <div class="col-md-6">
        <div class="well">
            <table id="view-table" class="ui-responsive table table-hover">
                <tbody>
                <tr>
                    <th>AQIS Permit ID</th>
                    <td>{{shipment.aqis|force_escape}}</td>
                </tr>
                <tr>
                    <th>QEN</th>
                    <td>{{shipment.qen|force_escape}}</td>
                </tr>
                <tr>
                    <th>Females</th>
                    <td>{{shipment.females|force_escape}}</td>
                </tr>
                <tr>
                    <th>Males</th>
                    <td>{{shipment.males|force_escape}}</td>
                </tr>
                <tr>
                    <th>Arrival Date</th>
                    <td>{{shipment.arrival_date|date:"d-M-Y"}}</td>
                </tr>
                <tr>
                    <th>Species</th>
                    <td>{{shipment.species|force_escape}}</td>
                </tr>
                <tr>
                    <th>Supplier</th>
                    <td>{{shipment.supplier|force_escape}}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{shipment.country|force_escape}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-md-4">
        <table id="sidemenu" class="ui-responsive table">
            <tr>
                <td>
                    <ul data-role="listview" data-inset="true" style="min-width:210px;">
                        <li data-role="list-divider">Choose an action</li>
                        <li><a href="{% url 'frogs:permit_update' shipment.id %}">Edit</a>
                        </li>
                        <li><a href="{% url 'frogs:permit_delete' shipment.id %}">Delete</a>
                        </li>
                        <li><a href="{% url 'frogs:bulkfrog_create' shipment.id %}">Generate Frog records</a>
                        </li>
                        <li><a href="{% url 'frogs:bulkfrog_delete' shipment.id %}">Delete Frog records</a>
                        </li>
                        <li><a href="{% url 'frogs:frog_list_byshipment' shipment.id %}">View Frogs</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>{% endblock %}