Django==1.9.6
django-axes==1.6.0
django-bootstrap3-datetimepicker==2.2.3
django-braces==1.8.1
django-filter==0.13.0
django-ipware==1.1.5
django-simple-captcha==0.5.1
django-solo==1.1.2
django-suit==0.2.18
django-suit-ckeditor==0.0.2
django-tables2==1.2.0
html5lib==0.9999999
Pillow==3.2.0
psycopg2==2.6.1
pyparsing==2.0.3
PyPDF2==1.25.1
python-dateutil==2.4.2
pytz==2015.4
reportlab==3.3.0
requests==2.7.0
virtualenv==13.1.0
