{% extends "frogs/base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
    <h2>Confirm delete </h2></div>
    <div class="row col-md-6">
    <div class="well">
    <form role="form" method="post">{% csrf_token %}
        {% if msg  %}
           <p class="info"> {{ msg|force_escape }}</p>
            <a class="btn btn-default" href="{% url 'frogs:permit_list' %}">Return to Shipment List</a>
        {% else %}
            <p>Are you sure you want to delete {{frogs|force_escape}} <b>{{species|force_escape}}</b> frogs from Shipment QEN <b>{{qen|force_escape}}</b>?</p>
            <input type="submit" class="btn btn-success" value="Confirm" />
            <input type="button" class="btn btn-default" onclick="javascript:history.back();return false;" value="Cancel" />
        {% endif %}

    </form>
    </div></div></div>
{% endblock %}