{% extends "frogs/base.html" %}{% block title %}Frog - bulk disposal{% endblock %}{% block content %}
<div class="container">
    <div class="page-header"><h2>Disposal details for Frogs</h2></div>
    <div class="row col-md-6">
        <div class="well">
        {% if form.fields.frogs.choices|length > 0 %}
            <form method="POST" class="post-form">
                {% csrf_token %}
                <fieldset data-role="controlgroup">
                    <legend>Vertical:</legend>
        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a">
        <label for="checkbox-v-2a">One</label>
                <label for="id_frogselect">Select Frogs for disposal:</label>
                <select id="id_frogselect" name="frogselect" multiple="multiple">
                {% for x,y in form.fields.frogs.choices %}
                    <option value="{{ x }}">{{ y }}</option>
                {% endfor %}
                </select>
                {{ form.as_table }}

                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        {% else %}
            <p>No frogs ready for disposal</p>
        {% endif %}

            <a class="btn btn-default" href="{% url 'frogs:frog_list' %}">Cancel</a>
        </div>
    </div>
</div>{% endblock %}