<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
    initial-scale=1"/>
        <title>{% block title %}{% endblock %}{% trans "FrogDB - Home"   %}</title>
        {% load staticfiles %}
        <link rel="icon" href="{% static "frogs/img/favicon.ico" %}" type="image/png"/>
        <link rel="stylesheet" type="text/css" href="{% static "frogs/css/jquery.mobile-1.4.5.min.css" %}"/>
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
       <script type="text/javascript" src="{% static "frogs/js/jquery-1.7.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "frogs/js/jquery.mobile-1.4.5.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

  </head>
  <body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a  class="navbar-brand" href="/frogs/">
		  <img src="{% static 'frogs/img/kermit.png' %}" alt="QBI FrogDB"/></a>
		</div>
		{% if user.is_authenticated %}
		    <ul class="nav navbar-nav">
		    {% include "frogs/navlinks.html" %}
		  </ul>
		  <div class="navbar-right">
            <p>Welcome, {{ user.username }}
            <a class="btn btn-default" href="{% url 'frogs:logout' %}">Logout</a></p>
          </div>
        {% else %}
		  <form class="navbar-form navbar-right" role="form" method="post" action="{% url 'frogs:loginform' %}">
              {% csrf_token %}
              <span><i class="glyphicon glyphicon-user"></i></span><div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <span><i class="glyphicon glyphicon-lock"></i></span>
              <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Sign In</button>
          </form>
        {% endif %}
	  </div>
	</nav>
	 <div class="row content">
	{% block sidebar %}{% endblock %}
	{% block content %}{% endblock %}
	</div>
	<footer>
        {% block footer_navigation %}
            {% include "frogs/footer_navbar.html" %}
        {% endblock %}
            <p>Copyright (c) 2016 Queensland Brain Institute</p>
        </footer>
    </body>
</html>