<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,
    initial-scale=1"/>
        <title>{% block title %}{% endblock %}{% trans "FrogDB"   %}</title>
        {% load staticfiles %}
        <link rel="icon" href="{% static "frogs/img/favicon.ico" %}" type="image/png"/>
        <link rel="stylesheet" type="text/css" href="{% static "frogs/css/jquery.mobile-1.4.5.min.css" %}"/>
        <link rel="stylesheet" href="{% static "frogs/css/style.css" %}"/>
       <script type="text/javascript" src="{% static "frogs/js/jquery-1.7.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "frogs/js/jquery.mobile-1.4.5.min.js" %}"></script>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header>
          <a href="/frogs/" class="headerlink"><h1>Welcome to QBI's FrogDB</h1>
            <img src="{% static 'frogs/img/kermit.png' %}" alt="QBI FrogDB"/></a>
            {% if user and user.is_authenticated %}
                <div class="profile">
                    <p>Welcome, {{ user.username }}. </p>
                    {% include "frogs/profile.html" %}
                </div>
            {% endif %}
            {% include "frogs/navbar.html" %}
        </header>

        <div class="container">



          <div class="main-content">{% block content %}{% endblock %}
          </div>
          <div class="sidebar">{% block sidebar %}{% endblock %}
          </div>
        </div>

        <footer>
        {% block footer_navigation %}
            {% include "frogs/footer_navbar.html" %}
        {% endblock %}
            <p>Copyright (c) 2016 Queensland Brain Institute</p>
        </footer>

    {% block extrabody %}{% endblock %}
    </body>
</html>