doctype
html
  head
    title #{title} - FrogDB
    link(rel='stylesheet', href='/css/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/jquery.mobile-1.4.5.min.css')
    link(rel='stylesheet', type='text/css', href='/css/simplePagination.css')
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/js/jquery.mobile-1.4.5.min.js')

  body
    header
      h1 Welcome to QBI's FrogDB
    .container
      include _navbar
      include _breadcrumbs
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Copyright (c) 2016 Queensland Brain Institute