{% extends "frogs/base.html" %}{% block title %}Frogs{% endblock %}
{% block content %}
<div class="container">
<div class="page-header"><h2>Frogs</h2></div>
<p><a href="{% url 'frogs:frog_create' %}" class="btn btn-success">Create New Frog</a></p>
{% if frogs %}
<input id="filterTable-input" data-type="search"/>
<table id="frogs-table" data-role="table" data-filter="true" data-input="#filterTable-input" class="ui-responsive table table-hover">
  <thead>
    <tr>
      <th>Frog ID</th>
      <th>Gender</th>
      <th>Species</th>
      <th>Condition</th>
      <th>QEN</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>{% for frog in frogs %}
    <tr>
      <td>{{frog.frogid|escape}}</td>
      <td>{{frog.get_gender_display|force_escape}}</td>
      <td>{{frog.get_species_display|force_escape}}</td>
      <td>{{frog.condition|force_escape}}</td>
      <td>{{frog.qen|force_escape}}</td>
      <td>
          <a href="#popupMenu_{{ frog.id }}" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">...</a>
          <div id="popupMenu_{{ frog.id }}" data-history="false" data-role="popup" data-theme="b">
              <ul data-role="listview" data-inset="true" style="min-width:210px;">
                <li data-role="list-divider">Choose an action</li>
                <li>
                    <a href="{% url 'frogs:frog_detail' frog.id %}">View details</a>
                </li>
                <li>
                    <a href="{% url 'frogs:frog_update' frog.id %}">Edit</a>
                </li>
                <li>
                    <a href="{% url 'frogs:frog_delete' frog.id %}">Delete</a>
                </li>

              </ul>
            </div>
      </td>
    </tr>{% endfor %}
  </tbody>
</table>{% endif %}
    </div>{% endblock %}