{% extends "frogs/layout.html" %}{% block content %}
<div class="frontpage-container">
  <h1>About</h1>
  <p>The QBI Frog database stores information of 
the Quarantine Frog Colony housed at AIBN.  
This includes information on identification, health, 
oocyte harvests and tracking and disposal of all quarantine 
material.
  </p>
  <p>The Frog database replaces currently handwritten data forms
and manually generated reports.
  </p>
  {% if shipment_list %}
  <p class="info">Database contains shipments
  </p>
  {% else %}
  <p><a href="{% url 'frogs:permitcreate' %}" class="button">Create Shipment</a>
  </p>
  {% endif %}
</div>{% endblock %}{% block sidebar %}
<div class="widget">
  <h1>Login</h1>
  <div class="loginbox">
    <form id="loginform" name="login" action="/login" method="post">
      <label for="user">Username: <span>*</span>
      </label>
      <input id="user" type="text" value="" placeholder="" name="user"/>
      <label for="password">Password: <span>*</span>
      </label>
      <input id="password" type="password" value="" placeholder="" name="password"/>
      <input type="submit" value="Login" data-inline="true" data-transition="fade" data-theme="c"/>
    </form>
  </div>
</div>{% endblock %}