<li><a href="{% url 'frogs:index' %}" class="ui-btn-active">Home</a></li>
<li><a href="{% url 'frogs:permit_list' %}">Shipments</a></li>
<li><a href="{% url 'frogs:frog_list_filter' %}">Frogs</a></li>
<li><a href="{% url 'frogs:operation_summary' %}#all">Operations</a></li>
<li><a href="{% url 'frogs:transfer_list' %}">Transfers</a></li>
<li><a href="{% url 'frogs:experiment_list_location' %}">Experiments</a></li>
<li><a href="{% url 'frogs:disposal_list' %}">Disposals</a></li>
<li><a href="{% url 'frogs:notes_list' %}">Notes</a></li>