<li><a href="{% url 'frogs:index' %}" class="ui-btn-active">Home</a></li>
<li><a href="{% url 'frogs:permit_list' %}">Shipments</a></li>
<li><a href="{% url 'frogs:frog_list' %}">Frogs</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operations<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'frogs:operation_summary' 'all' %}">All</a></li>
        <li><a href="{% url 'frogs:operation_summary' 'X.borealis' %}">X.borealis</a></li>
        <li><a href="{% url 'frogs:operation_summary' 'X.laevis' %}">X.laevis</a></li>
    </ul>
</li>

<li><a href="{% url 'frogs:transfer_list' %}">Transfers</a></li>
<li><a href="{% url 'frogs:experiment_list' %}">Experiments</a></li>
<li><a href="{% url 'frogs:disposal_list' %}">Disposals</a></li>