{% extends "frogs/base.html" %}
{% block title %}Operation{% endblock %}{% block content %}
<div class="container">
  <div class="page-header">
  {% if form.is_bound %}
      <h2>Edit Operation</h2>
  {% else %}
      <h2>New Operation</h2>
  {% endif %}
  </div>
  <div class="row col-md-6">
    <div class="well">
      <form id="operation-edit" method="POST" class="post-form ui-responsive">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
        <button type="button" class="btn" onclick="javascript:history.back();return false;">Cancel</button>
      </form>
    </div></div></div>

{% endblock %}