{% extends "frogs/base.html" %}{% block content %}
<h2>List of operations for Frog ID={{ frogid|escape }}
</h2>
<a href="{% url 'frogs:operation_create' 2 %}">Add Operation</a>
{% if operations %}
<table id="frogdetails" data-role="table" class="ui-responsive">
  <thead>
    <tr>
      <th>FrogID</th>
      <td>{{frog.frogid|force_escape}}</td>
      <th>Gender</th>
      <td>{{frog.gender|force_escape}}</td>
      <th>Species</th>
      <td>{{frog.species|force_escape}}</td>
    </tr>
  </thead>
</table>
<table id="ops-table" data-role="table" class="ui-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Anaesthetic</th>
      <th>Volume</th>
      <th>Comments</th>
      <th>Initials</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>{% for operation in frog.operations %}
    <tr>
      <td>{{operation.operation_num|force_escape}}</td>
      <td>{{operation.operation_date|force_escape}}</td>
      <td>{{operation.anesthetic|force_escape}}</td>
      <td>{{operation.volume|force_escape}}</td>
      <td>{{operation.comments|force_escape}}</td>
      <td>{{operation.initials|force_escape}}</td>
      <td><a href="#popupMenu_{{ operation.id }}" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">...</a>
        <div id="popupMenu_{{ operation.id }}" data-history="false" data-role="popup" data-theme="b">
          <ul data-role="listview" data-inset="true" style="min-width:210px;">
            <li data-role="list-divider">Choose an action</li>
            <li><a href="{% url 'frogs:frog_detail' operation.frogid %}">Go to Frog</a>
            </li>
            <li><a href="{% url 'frogs:operation_update' operation.id %}">Edit</a>
            </li>
            <li><a href="{% url 'frogs:operation_delete' operation.id %}">Delete</a>
            </li>
            <li>Transfers
            </li>
          </ul>
        </div>
      </td>
    </tr>{% endfor %}
  </tbody>
</table>{% endif %}{% endblock %}